<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyPOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <EasyPOS.My.MySettings>
            <setting name="PrinterName" serializeAs="String">
                <value>POS-58</value>
            </setting>
            <setting name="PrinterFont" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="LogoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OmitCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterCalibrate" serializeAs="String">
                <value />
            </setting>
            <setting name="ShiftOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Header" serializeAs="String">
                <value>ООО "Ромашка"</value>
            </setting>
            <setting name="Counter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CashSign" serializeAs="String">
                <value>p.</value>
            </setting>
            <setting name="ShiftOpenTime" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLog" serializeAs="String">
                <value />
            </setting>
            <setting name="ShiftNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DepositedAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WithdrawAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WithdrawTimes" serializeAs="String">
                <value>0</value>
            </setting>
        </EasyPOS.My.MySettings>
    </userSettings>
</configuration>
